body {
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}
.App {
  background: #292f33;

  height: 100vh;
  overflow-y: visible;
  overflow-x: hidden;
  width: 100vw;
}

.windowLayout {
  background: rgb(51, 50, 74);
  background: linear-gradient(
    90deg,
    rgba(51, 50, 74, 1) 0%,
    rgba(25, 25, 59, 1) 35%,
    rgba(44, 13, 55, 1) 100%
  );
}
